<div class="h-screen flex flex-col">

    <div class="w-full h-[40vh] overflow-hidden">
        <img
                src="assets/start_brain.svg"
                alt=""
                class="w-full h-full object-cover object-top"
        >
    </div>

    <div class="flex-1 flex flex-col px-6 py-8">

        <div class="flex-1 flex flex-col items-center text-center mt-20">
            <h1 class="text-3xl font-bold mb-4">
                Привіт, почнімо 👋
            </h1>

            <p class="text-gray-500 max-w-xs leading-relaxed">
                Створи щось корисне з використаних упаковок і подивись,
                що з цього може вийти
            </p>
        </div>

        <p-button
                (click)="start()"
                label="Почати"
                styleClass="w-full">
        </p-button>

<!--        <div class="max-w-xl mx-auto space-y-4">-->

<!--            &lt;!&ndash; Flow 1 &ndash;&gt;-->
<!--            <div-->
<!--                    (click)="startFlow2()"-->
<!--                    class="flex items-center justify-between p-5 rounded-2xl border cursor-pointer transition-->
<!--               bg-white hover:shadow-md border-gray-200">-->

<!--                <div class="flex items-center gap-4">-->

<!--                    <div class="w-12 h-12 flex items-center justify-center rounded-xl border border-gray-200 text-gray-500">-->
<!--                        <i class="pi pi-camera text-xl"></i>-->
<!--                    </div>-->

<!--                    <div class="text-gray-600 text-sm">-->
<!--                        Сфотографуй свій малюнок і подивись,-->
<!--                    </div>-->

<!--                </div>-->

<!--                <i class="pi pi-arrow-right text-gray-400"></i>-->
<!--            </div>-->


<!--            &lt;!&ndash; Flow 2 &ndash;&gt;-->
<!--            <div-->
<!--                    (click)="start()"-->
<!--                    class="flex items-center justify-between p-5 rounded-2xl border cursor-pointer transition-->
<!--               bg-white hover:shadow-md border-gray-200">-->

<!--                <div class="flex items-center gap-4">-->

<!--                    <div class="w-12 h-12 flex items-center justify-center rounded-xl border border-gray-200 text-gray-500">-->
<!--                        <i class="pi pi-palette text-xl"></i>-->
<!--                    </div>-->

<!--                    <div class="text-gray-600 text-sm">-->
<!--                        Створи щось корисне з використаних упаковок і подивись, що з цього може вийти-->
<!--                    </div>-->

<!--                </div>-->

<!--                <i class="pi pi-arrow-right text-gray-400"></i>-->
<!--            </div>-->

<!--        </div>-->
<!--    </div>-->

</div>
