<div class="h-screen flex flex-col px-6 py-8">

    <div class="flex-1 flex flex-col justify-center items-center text-center">

        <h1 class="text-3xl font-bold mb-4">
            Привіт, почнімо 👋
        </h1>

        <p class="text-gray-500 max-w-xs leading-relaxed">
            Створи щось корисне з використаних упаковок і подивись,
            що з цього може вийти
        </p>

    </div>

    <p-button
            label="Start"
            styleClass="w-full">
    </p-button>

</div>
